# Ignore user-generated photos folder
filterme_pictures/

# Ignore the virtual environment
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore VS Code settings
.vscode/

# Ignore image/output files
captures/
*.jpg
*.png
!assets/*.png

# Ignore gen folder
gen/

# ignore build and distribution folders
build/
dist/
*.spec